<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агенство недвижимости "ACTIV"</title>
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,500&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
</head>
<body>

    {% include 'twig-partials/header.html' %}

    {% include 'twig-partials/navigation.html' %}

    {% include 'twig-partials/slider.html' %}

    {% include 'twig-partials/company.html' %}

    {% include 'twig-partials/services.html' %}

    {% include 'twig-partials/news.html' %}

    {% include 'twig-partials/partners.html' %}

    {% include 'twig-partials/team.html' %}

    {% include 'twig-partials/map.html' %}

    {% include 'twig-partials/footer.html' %}
    
    <script src="https://kit.fontawesome.com/2689382108.js" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>
</html>